body {
	font-family: 'Open Sans', sans-serif;
}

select.empty {
	color: #D3D3D3;
}
/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}
#match {
	color: #ffffff;
	text-decoration: none;
}
#modal-split {
	width: 60%;
}